In [10]:
#count no of digits and print the sum of digits
n="python123is456good789"
count=0
i=0
sum=0
while i<len(n):
    if n[i].isdigit():
        count=count+1
        sum+=int(n[i])
    i+=1
print(count)
print(sum)

9
45

In [20]:
#for loop 
#can be used
#1.using  range()
#2.using iterable object
n=int(input("enter a number"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter a number3
1 3

In [25]:
n=input("enter a string")
i=0
while i<len(n):
 print(n[i],end=" ")
 i=i+1

enter a stringpython
p y t h o n

In [26]:
n=input("enter a string")
i=0;
for i in range(0,len(n)):
    print(n[i],end=" ")

enter a stringering
e r i n g

In [29]:
n=input("enter a string")
i=0
for i in n:
 print(i,end=" ")

enter a stringpython
p y t h o n

## collection type data type:
### list
1. for creating a list use []
2. list are mutable
3. list are marked
4. list are ordered
5. list allows duplicate values
6. it stores heterogenous values

In [37]:
list1=[23,34,456,56,67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])
print(len(list1))

[1, 2, 3]
[456, 56]
gnirts
3
8

In [38]:
#manipulating a list
#1. adding elements 
#at the last
list1=[34,45,67,9]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements:",list1)

before adding elements: [34, 45, 67, 9]
after adding elements: [34, 45, 67, 9, 100, 200, 300]

In [41]:
#in between the list
list1.insert(1,400)
list1

[34, 400, 45, 400, 400, 67, 9, 100, 200, 300]

In [44]:
#extend to insert multiple values inside a list
list1.extend([2,3,4])
list1

[34, 400, 45, 400, 400, 67, 9, 100, 200, 300, 2, 3, 4, 2, 3, 4]

In [45]:
#pop elements from the list
list1.pop()
list1

[34, 400, 45, 400, 400, 67, 9, 100, 200, 300, 2, 3, 4, 2, 3]

In [52]:
list1.pop(2)
list1

[34, 400, 100, 300, 3, 4, 2, 3]

In [53]:
list1.remove(300)
list1

[34, 400, 100, 3, 4, 2, 3]

In [54]:
# remove all the elements from the list
#clear method()
list1.clear()
list1

[]

In [58]:
#replacing an element
list1=[1,2,3,4,100]
list1[2]=90
list1

[1, 2, 90, 4, 100]

In [61]:
#sorting alist
list1.sort()
list1

[1, 2, 4, 90, 100]

In [63]:
#sort the list in descending order
list1.sort(reverse=True)#when reverse value is false it will sort in ascending order
list1

[100, 90, 4, 2, 1]

In [67]:
#index of an element in a list
list1.index(90)

1

In [68]:
#count() for knowing the frequency of value
list1.count(100)

1

In [70]:
list1.append("python")
list1

[100, 90, 4, 2, 1, 'python']

In [75]:
#copying a list
list2=list1.copy()
list2

[100, 90, 4, 2, 1, 'python']

In [85]:
#print the squares of one list in  another list
#input[2,4,5,7,8]
#output[4,16,25,49,64]
list3= [2,4,5,7,8]
list4=[]
i=0
for i in range(0,len(list3)):
  list4.append(list3[i]**2)
print(list4)

[4, 16, 25, 49, 64]

In [107]:
#print only even numbers from a list to another list
list5=[2,4,56,9,89]
list6=[]
i=0
for i in range(0,len(list5)):
    if list5[i]%2==0:
        list6.append(list5[i])
print(list6)

[2, 4, 56]

In [123]:
#create a list and accept values of the list at runtime
#and print sum of all elements of the list
list7=[]
j=0
n=int(input())
for i in range(n):
    list7.append(int(input()))
    j=j+list7[i]
print(j)

3
1
2
3
6

In [121]:
x=23,34,45,56,67
print(x)
print(type(x))

(23, 34, 45, 56, 67)
<class 'tuple'>

In [124]:
tup1=(23,34,5)
x,y,z=tup1
print(x,y,z)

23 34 5

### Dictionary
#### syntax: {key1:value1,key2:value2,...}
#### key:
1. key should be unique
2. key should be immutable-->int,float,string,tupple

In [131]:
dict={"name":"preeti","course":"python","address":"hyd",(45,436):"num"}
dict

{'name': 'preeti', 'course': 'python', 'address': 'hyd', (45, 436): 'num'}

In [132]:
dict['course']

'python'

In [133]:
#replace values
dict["course"]="c programming"
print(dict)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd', (45, 436): 'num'}

In [134]:
#adding entry
dict["college"]="GITAM"
print(dict)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd', (45, 436): 'num', 'college': 'GITAM'}

In [135]:
#removing entry
del dict['address']
print(dict)

{'name': 'preeti', 'course': 'c programming', (45, 436): 'num', 'college': 'GITAM'}

## FUNCTION
### def functionname(arg list)
####         statements
####          return-->(optional)

In [138]:
def add(x,y):#function definition
    return x+y
add(10,20)#function calling
print(add(10,20))

30

In [139]:
def add(x,y):#function definition
    return x+y
print(add(10,20))
print(add(200,300))

30
500

In [140]:
def add(x,y):#function definition
    print(x+y)
print(add(10,20))
print(add(200,300))

30
None
500
None

## def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

In [143]:
x=2
while x<=10:
    print(x)
    x=x+1

2
3
4
5
6
7
8
9
10

In [148]:
for i in [1,2,3,4][::-1]:
    print(i)

4
3
2
1